<!-- MODAL DE DATOS MASCOTA -->
<div class="modal fade modal-ficha-clinica" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center font-weight-bold" id="staticBackdropLabel">
                    Ficha Clinica Mascota</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="contenido">
                <div class="row text-center">
                    <div class="col-1">
                        <img src="assets/neofox-nav.png" style="width: 10rem;">
                    </div>
                    <div class="col-11">
                        <p>Clinica Veterinaria NeoVet</p>
                        <p>Calle Rio Yaqui #1094, Los Ángeles</p>
                        <p>+569 7850 4418</p>
                    </div>
                </div>
                <!-- DATOS CLIENTE -->
                <div class="row">
                    <div class="col-12 text-center header-test">
                        <p class="font-weight-bold">Datos del Cliente</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-5">
                        <p><b>Nombre:</b> Bryan Vidal Díaz</p>
                        <p><b>Dirección:</b> Villa Todos Los Santos, Calle Sta Ana #336, Los Ángeles</p>
                        <p><b>Telefonos:</b> +569 7850 4418</p>
                        <p><b>Correo:</b> bvidalneofox@gmail.com</p>
                    </div>
                    <div class="col-5">
                        <p><b>Rut:</b> 18.522.783-9</p>
                        <p><b>Fecha ingreso:</b> 20-20-20</p>
                    </div>
                </div>
                <!-- DATOS MASCOTA -->
                <div class="row">
                    <div class="col-12 text-center header-test">
                        <p class="font-weight-bold">Datos del Paciente</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <p class="font-weight-bold">Fotografia Mascota</p>
                        <img src="assets/cat-profile-pic.jpeg" style="width: 5rem;">
                    </div>
                    <div class="col-md-4">
                        <p><b>Nombre:</b> Yokosita</p>
                        <p><b>Especie:</b> Felino</p>
                        <p><b>Fecha Nacimiento:</b> 20-20-20</p>
                        <p><b>Edad:</b> 2 Años</p>
                    </div>
                    <div class="col-md-4">
                        <p><b>Raza:</b> Mestiza</p>
                        <p><b>Sexo:</b> Felino</p>
                        <p><b>Color:</b> Cafe con Blanco</p>
                        <p><b>Fecha Ingreso:</b> 20-20-20</p>
                    </div>
                </div>
                <!-- HISTORIAL CLINICO -->
                <div class="row">
                    <div class="col-12 text-center header-test">
                        <p class="font-weight-bold">Historial Clinico</p>
                    </div>
                </div>
                <div class="row consulta">
                    <div class="col-2">
                        <p class="font-weight-bold">20 de Enero 2020</p>
                    </div>
                    <div class="col-3">
                        <p><b>Atendido Por:</b> Emiliana Hernandez Rebolledo</p>
                    </div>
                    <div class="col-7">
                        <p> <b>Motivo:</b> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem eius quia inventore sequi optio, blanditiis ullam, ipsa a hic, veniam nobis exercitationem qui ratione non fugiat commodi quibusdam explicabo tempora!</p>
                        <p> <b>Procedimiento:</b> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem eius quia inventore sequi optio, blanditiis ullam, ipsa a hic, veniam nobis exercitationem qui ratione non fugiat commodi quibusdam explicabo tempora!</p>
                    </div>
                </div>
                <div class="row consulta">
                    <div class="col-2">
                        <p class="font-weight-bold">20 de Enero 2020</p>
                    </div>
                    <div class="col-3">
                        <p><b>Atendido Por:</b> Emiliana Hernandez Rebolledo</p>
                    </div>
                    <div class="col-7">
                        <p> <b>Motivo:</b> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem eius quia inventore sequi optio, blanditiis ullam, ipsa a hic, veniam nobis exercitationem qui ratione non fugiat commodi quibusdam explicabo tempora!</p>
                        <p> <b>Procedimiento:</b> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem eius quia inventore sequi optio, blanditiis ullam, ipsa a hic, veniam nobis exercitationem qui ratione non fugiat commodi quibusdam explicabo tempora!</p>
                    </div>
                </div>
                <div class="row consulta">
                    <div class="col-2">
                        <p class="font-weight-bold">20 de Enero 2020</p>
                    </div>
                    <div class="col-3">
                        <p><b>Atendido Por:</b> Emiliana Hernandez Rebolledo</p>
                    </div>
                    <div class="col-7">
                        <p> <b>Motivo:</b> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem eius quia inventore sequi optio, blanditiis ullam, ipsa a hic, veniam nobis exercitationem qui ratione non fugiat commodi quibusdam explicabo tempora!</p>
                        <p> <b>Procedimiento:</b> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem eius quia inventore sequi optio, blanditiis ullam, ipsa a hic, veniam nobis exercitationem qui ratione non fugiat commodi quibusdam explicabo tempora!</p>
                    </div>
                </div>
                <div class="row consulta">
                    <div class="col-2">
                        <p class="font-weight-bold">20 de Enero 2020</p>
                    </div>
                    <div class="col-3">
                        <p><b>Atendido Por:</b> Emiliana Hernandez Rebolledo</p>
                    </div>
                    <div class="col-7">
                        <p> <b>Motivo:</b> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem eius quia inventore sequi optio, blanditiis ullam, ipsa a hic, veniam nobis exercitationem qui ratione non fugiat commodi quibusdam explicabo tempora!</p>
                        <p> <b>Procedimiento:</b> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem eius quia inventore sequi optio, blanditiis ullam, ipsa a hic, veniam nobis exercitationem qui ratione non fugiat commodi quibusdam explicabo tempora!</p>
                    </div>
                </div>
                <div class="row consulta">
                    <div class="col-2">
                        <p class="font-weight-bold">20 de Enero 2020</p>
                    </div>
                    <div class="col-3">
                        <p><b>Atendido Por:</b> Emiliana Hernandez Rebolledo</p>
                    </div>
                    <div class="col-7">
                        <p> <b>Motivo:</b> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem eius quia inventore sequi optio, blanditiis ullam, ipsa a hic, veniam nobis exercitationem qui ratione non fugiat commodi quibusdam explicabo tempora!</p>
                        <p> <b>Procedimiento:</b> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem eius quia inventore sequi optio, blanditiis ullam, ipsa a hic, veniam nobis exercitationem qui ratione non fugiat commodi quibusdam explicabo tempora!</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="generarPDF()" class="btn btn-info">Crear PDF</button>
                <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>