<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 mt-4">
            <app-nueva-consulta></app-nueva-consulta>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 mt-4">
            <app-ver-consultas-activas></app-ver-consultas-activas>
        </div>
        <div class="col-xl-4 mt-4">
            <app-buscador-mascotas></app-buscador-mascotas>
        </div>
        <div class="col-xl-4 mt-4">
            <app-ver-hospitalizaciones-activas></app-ver-hospitalizaciones-activas>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 mt-4">
            <app-ver-historial-consultas></app-ver-historial-consultas>
        </div>
        <div class="col-xl-4 mt-4">
            <app-nueva-vacuna></app-nueva-vacuna>
        </div>
        <div class="col-xl-4 mt-4 mb-4">
            <app-ver-historial-hospitalizaciones></app-ver-historial-hospitalizaciones>
        </div>
    </div>

</div>