<div class="container-fluid">

    <div class="row">
    <div class="col-md-12 mt-4">
        <app-nueva-consulta></app-nueva-consulta>
    </div>
</div>

<div class="row">
<div class="col-xl-4 mt-4">
    <app-ver-consultas-activas></app-ver-consultas-activas>
</div>
<div class="col-xl-4 mt-4">
    <div class="card green but-card text-center" style="cursor: pointer;">
        <div class="card-body">
            <img src="assets/perro.png"  width="70" height="70" alt="">
            <h4 class="card-text font-weight-bold">Mascotas Registradas</h4>
            <p class="font-weight-bold">Ver mascotas del sistema</p>
        </div>
    </div>
</div>
<div class="col-xl-4 mt-4">
    <app-ver-hospitalizaciones-activas></app-ver-hospitalizaciones-activas>
</div>
</div>

<div class="row">
    <div class="col-xl-4 mt-4">
        <app-nueva-vacuna></app-nueva-vacuna>
    </div>
    <div class="col-xl-4 mt-4">
        <div class="card yellow but-card text-center" style="cursor: pointer;">
            <div class="card-body">
                <img src="assets/scissors.png"  width="70" height="70" alt="">
                <h4 class="card-text font-weight-bold">Cortes de Pelo hoy</h4>
                <p class="font-weight-bold">Historial de cortes de pelo</p>
            </div>
        </div>
    </div>
    <div class="col-xl-4 mt-4 mb-4">
        <app-ver-historial-consultas></app-ver-historial-consultas>
    </div>
    </div>

</div>