<div class="card yellow but-card text-center" style="cursor: pointer;" data-toggle="modal"
    data-target=".modal-historial-hospitalizaciones" (click)="getHospitalizacionesInactivas()">
    <div class="card-body">
        <img src="assets/history.png" width="70" height="70" alt="">
        <h4 class="card-text font-weight-bold">Historial Hospitalizaciones</h4>
        <p class="font-weight-bold">Hospitalizaciones Realizadas Anteriormente</p>
    </div>
</div>

<!-- MODAL PRINCIPAL -->
<div class="modal fade modal-historial-hospitalizaciones" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title w-100 text-center font-weight-bold" id="staticBackdropLabel">Historial de
                    Hospitalizaciones</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="anio">Seleccione el Fecha Inicio</label>
                            <input #fechaInicio type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="mes">Seleccione Fecha Termino</label>
                            <input #fechaTermino type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Filtrar Busqueda</label>
                            <button class="btn btn-primary btn-block"
                                (click)="getHospitalizacionesInactivasPorFecha(fechaInicio.value, fechaTermino.value)">Filtrar</button>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Reiniciar Filtrador</label>
                            <button class="btn btn-secondary btn-block"
                                (click)="getHospitalizacionesInactivas()">Reiniciar</button>
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">Paciente</th>
                                    <th scope="col">Tipo Mascota</th>
                                    <th scope="col">Fecha Atención</th>
                                    <th scope="col">Dueño</th>
                                    <th scope="col" class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="text-center font-weight-bold">
                                <tr *ngFor="let itemHospInactivas of hospitalizacionesInactivas">
                                    <td>{{itemHospInactivas?.nombreMascota}}</td>
                                    <td>{{itemHospInactivas?.tipoMascota}}</td>
                                    <td>{{itemHospInactivas?.created_at}}</td>
                                    <td>{{itemHospInactivas?.nombreDuenio}}</td>
                                    <td class="text-center"><button class="btn btn-sm btn-secondary m-1"
                                            data-dismiss="modal" aria-label="Close"
                                            routerLink="fichaHospitalizacion/{{itemHospInactivas?.id}}">Ver
                                            Hospitalizacion</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>