<div class="container-fluid mt-4 mb-4">
    <div class="card formularios">
        <div class="container-fluid mb-4">
            <h3 class="text-center font-weight-bold mt-4">Perfil de Mascota</h3>
            <div class="card-body card-datos">
                <h4 class="font-weight-bold">Datos Basicos</h4>
                <div class="row">
                    <div class="col-6">
                        <p><b>Nombre:</b> {{datosMascota?.nombre}}</p>
                        <p><b>Especie:</b> {{datosMascota?.tipoMascota}}</p>
                        <p><b>Edad:</b> {{datosMascota?.edad}}</p>
                        <p><b>Raza:</b> {{datosMascota?.raza}}</p>
                    </div>
                    <div class="col-6">
                        <p><b>Color:</b> {{datosMascota?.color}}</p>
                        <p><b>¿Esterilizado?:</b> {{datosMascota?.estadoEsterilizacion}}</p>
                        <p><b>¿Chip?:</b> {{datosMascota?.estadoChip}}</p>
                        <p><b>Fecha Ingreso al Sistema:</b> {{datosMascota?.created_at}}</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <div class="card-body card-datos">
                        <h4 class="font-weight-bold">Datos Propietario</h4>
                        <div class="row">
                            <div class="col-6">
                                <p><b>Nombre:</b> {{datosMascota?.nombreDuenio}}</p>
                                <p><b>Dirección:</b> {{datosMascota?.direccionDuenio}}</p>
                                <p><b>Telefono:</b> {{datosMascota?.contactoDuenio}}</p>
                            </div>
                            <div class="col-6">
                                <p><b>Correo:</b> {{datosMascota?.correoDuenio}}</p>
                                <p><b>Rut:</b> {{datosMascota?.rutDuenio}}</p>
                                <p><b>Fecha Ingreso:</b> {{datosMascota?.registroDuenio}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-center font-weight-bold mt-4">Historial de Vacunas {{nombreTemporal}}</h3>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead class="text-center">
                                <tr>
                                    <th scope="col">Vacuna</th>
                                    <th scope="col">Fecha de Aplicación</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr *ngFor="let itemVacunas of datosVacunas">
                                    <td>{{itemVacunas?.nombreVacuna}}</td>
                                    <td>{{itemVacunas?.created_at}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="text-center font-weight-bold mt-4">Ultimas 5 Consultas</h3>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead>
                                <tr class="text-center">
                                    <th style="width: 15%;">Fecha</th>
                                    <th style="width: 20%;">Revisado Por</th>
                                    <th style="width: 65%;">Descripcion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let itemSeguimiento of datosConsulta">
                                    <td class="text-center">{{itemSeguimiento?.created_at}}</td>
                                    <td class="text-center">{{itemSeguimiento?.nombreEncargado}}</td>
                                    <td>{{itemSeguimiento?.motivo}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12">
                    <h3 class="text-center font-weight-bold mt-4">Hoja Antiparasitarios</h3>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead class="text-center">
                                <tr>
                                    <th scope="col">Nombre Antiparasitario</th>
                                    <th scope="col">Fecha de Aplicación</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr *ngFor="let itemVacunas of datosAntiparasitarios">
                                    <td>{{itemVacunas?.nombre_antiparasitario}}</td>
                                    <td>{{itemVacunas?.created_at}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr>
            <h3 class="text-center font-weight-bold mt-4">Historial de Peso en Kg ultimos 6 controles</h3>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <canvas baseChart height="100px" [datasets]="lineChartData" [labels]="lineChartLabels"
                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                        [chartType]="lineChartType"></canvas>
                </div>
                <div class="col-1"></div>
            </div>
            <hr>
            <h3 class="text-center font-weight-bold mt-4">Acciones</h3>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-block" routerLink="../../fichaClinica/{{idMascota}}">Ver
                        Ficha Clinica</button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <button type="button" class="btn btn-danger btn-block" data-toggle="modal"
                        data-target=".modal-cambiar-duenio-mascota">Cambiar Dueño (Adopción)</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-success btn-block" data-toggle="modal"
                        data-target=".modal-editar-datos-basicos-mascota">Editar Datos Basicos de la
                        Mascota</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-ficha-clinica #fichaClinicaModal></app-ficha-clinica> -->

<!-- Modal Editar Datos -->
<div class="modal fade modal-editar-datos-basicos-mascota" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title w-100 text-center font-weight-bold" id="staticBackdropLabel">Editar Datos
                    Bassicos Mascota
                </h3>
                <button id="closeButton" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nombreMascota">Nombre de la Mascota *</label>
                            <input type="text" class="form-control" name="nombreMascota" placeholder="Nombre Completo"
                                [(ngModel)]="datosMascota.nombre" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="fechaNacimiento">Fecha de Nacimiento *</label>
                            <input type="date" class="form-control" name="fechaNacimiento"
                                [(ngModel)]="datosMascota.fecha_nacimiento" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="esterilizado-select">¿Esterilizado? *</label>
                            <select class="form-control" name="esterilizado-select"
                                [(ngModel)]="datosMascota.estado_esterilizado" required>
                                <option value="">--Seleccione--</option>
                                <option value="1">Sí</option>
                                <option value="2">No</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="chip-select">¿Tiene Chip? *</label>
                            <select class="form-control" name="chip-select" [(ngModel)]="datosMascota.estado_chip"
                                required>
                                <option value="">--Seleccione--</option>
                                <option value="1">Sí</option>
                                <option value="2">No</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="sexo">Genero *</label>
                            <select class="form-control" name="sexo-select" [(ngModel)]="datosMascota.genero" required>
                                <option value="">--Seleccione--</option>
                                <option value="1">Macho</option>
                                <option value="2">Hembra</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="tipo-select">Tipo de Mascota *</label>
                            <select class="form-control" name="tipo-select" [(ngModel)]="datosMascota.id_tipo_mascota"
                                required>
                                <option value="">--Seleccione--</option>
                                <option value="1">Perro</option>
                                <option value="2">Gato</option>
                                <option value="2">Otro</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="raza">Raza de la Mascota</label>
                            <input type="text" class="form-control" id="raza"
                                placeholder="Gato Siames, Pastor Aleman, etc..." name="raza"
                                [(ngModel)]="datosMascota.raza" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="color">Color de la Mascota</label>
                            <input type="text" class="form-control" id="color"
                                placeholder="Gris, Negro con Manchas, etc..." name="color"
                                [(ngModel)]="datosMascota.color" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-secondary" (click)="updateMascota()">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cambiar Duenio -->
<div class="modal fade modal-cambiar-duenio-mascota" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title w-100 text-center font-weight-bold" id="staticBackdropLabel">Cambiar Dueño de la
                    Mascota
                </h3>
                <button id="closeButton" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form #getClienteFormAdop="ngForm"
                        (ngSubmit)="getClientePorRut(getClienteFormAdop.value.rutUserAdop)" autocomplete="off">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Ingrese el rut del cliente"
                                    aria-describedby="button-addon2" ngModel name="rutUserAdop" required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-dark" type="submit" id="button-addon2"
                                        [disabled]="getClienteFormAdop.invalid">Buscar
                                        Cliente</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nombreCliente">Nombre Cliente *</label>
                            <input type="text" class="form-control" name="nombreCliente"
                                [(ngModel)]="datosCliente.nombre" required disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="rutCliente">Rut Cliente *</label>
                            <input type="text" class="form-control" name="rutCliente" [(ngModel)]="datosCliente.rut"
                                required disabled>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-secondary" data-toggle="modal"
                        data-target=".modal-confirmacion-cambio-duenio" [disabled]="!datosCliente.rut">Cambiar Dueño</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL CONFIRMAR -->
<div class="modal fade modal-confirmacion-cambio-duenio" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center font-weight-bold" id="staticBackdropLabel">Confirmar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row my-4">
                    <div class="col-md-12 text-center">
                        <p class="h4">¿Esta Seguro?</p>
                        <p class="h5">Confirme solo si quiere cambiar de dueño a la mascota</p>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-md-6 text-center">
                        <div class="btn btn-success btn-block btn-rounded" data-dismiss="modal"
                            (click)="updateDuenioMascota()">
                            Sí, cambiar de dueño
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="btn btn-danger btn-block" data-dismiss="modal">
                            No, no cambiar
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>