<div class="card but-card text-center" style="cursor: pointer;" data-toggle="modal"
data-target=".modal-hosp-activas" (click)="getHospitalizacionesActivas()">
    <div class="card-body">
        <img src="assets/equipo.png"  width="70" height="70" alt="">
        <h4 class="card-text font-weight-bold">Ver Hospitalizaciones</h4>
        <p class="font-weight-bold">Seguimiento a mascotas hospitalizadas</p>
    </div>
</div>

<!-- MODAL PRINCIPAL -->
<div class="modal fade modal-hosp-activas" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title w-100 text-center font-weight-bold" id="staticBackdropLabel">Hospitalizaciones Activas
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mt-4">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">Paciente</th>
                                    <th scope="col">Tipo Mascota</th>
                                    <th scope="col">Fecha Hospitalizacion</th>
                                    <th scope="col">Dueño</th>
                                    <th scope="col" class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="text-center font-weight-bold">
                                <tr *ngFor="let itemHospitalizacionesActivas of hospitalizacionesActivas">
                                    <td>{{itemHospitalizacionesActivas?.nombreMascota}}</td>
                                    <td>{{itemHospitalizacionesActivas?.tipoMascota}}</td>
                                    <td>{{itemHospitalizacionesActivas?.created_at}}</td>
                                    <td>{{itemHospitalizacionesActivas?.nombreDuenio}}</td>
                                    <td class="text-center"><button class="btn btn-sm btn-secondary m-1" data-dismiss="modal" aria-label="Close" routerLink="fichaHospitalizacion/{{itemHospitalizacionesActivas?.id}}">Visualizar</button>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>