/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  /* background: #7386D5; */
  background-image: linear-gradient(
      to bottom,
      rgba(66, 135, 245, 0.52),
      rgba(66, 135, 245, 0.73)
    ),
    url("https://wallpapershome.com/images/pages/pic_v/726.jpg");
  color: #fff;
  transition: all 0.3s;
  box-shadow: 7px 0px 8px -3px rgba(0,0,0,0.62);
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 8px;
  border-bottom: 1px solid #47748b;
}

#sidebar ul.components {
  padding: 20px;
  border-bottom: 1px solid #47748b;
}

/* TEXTO PRECIO A SECCIONES */
#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1rem;
  display: block;
}

/* COLOR AL PASAR EL MOUSE HOVER */
#sidebar ul li a:hover {
  background: rgba(255,255,255,0.20);
  /* color: black; COLOR PARA LAS LETRAS */
  text-decoration: none;
  border-radius: 10px;
  transition: 0.5s;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  /* AQUI COLOR PARA EL ACTIVO QUE NO SE TE OLVIDE OEZIIIII */
  background: rgba(0,0,0,0.20);
  border-radius: 10px;
}

#sidebar ul li.active>a:hover{
  color: white;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* SELCCIONES DE LOS DROPDOWN */
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
  text-decoration: none;
}

a{
  color: white;
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  /* padding: 20px; */
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #sidebarCollapse span {
      display: none;
  }
}