<div class="container-fluid mt-4 mb-4">
    <div class="card formularios">
        <div class="container-fluid mb-4">
            <div class="row mt-4">
                <div class="col-md-6">
                    <button class="btn btn-primary btn-block">Crear Nuevo Usuario (Veterinario, Secretaria, Administrador)</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary btn-block">Desactivar Usuario (Veterinario, Secretaria, Administrador) del Sistema</button>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <button class="btn btn-secondary btn-block">Subir Logo de Veterinaria</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-secondary btn-block">Bloquear Acceso Al Sistema Para un Cliente</button>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <button class="btn btn-success btn-block">Placeholder Text</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success btn-block">Placeholder Text</button>
                </div>
            </div>
        </div>
    </div>
</div>