<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 class="display-6 py-2">Ingreso Nueva Contraseña</h1>
                    <div class="px-2">
                        <form class="justify-content-center" #formNuevaPassReset="ngForm" (ngSubmit)="setNuevaPass(formNuevaPassReset.value)">
                            <div class="form-group">
                                <label class="sr-only">Ingrese su Correo</label>
                                <input name="correo" type="text" class="form-control" placeholder="Ingrese su Correo" ngModel>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Ingrese su Nueva Contraseña</label>
                                <input name="pass1" type="password" class="form-control" placeholder="Ingrese Nueva Contraseña" ngModel>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Repita la Nueva Contraseña</label>
                                <input name="pass2" type="password" class="form-control" placeholder="Repita Nueva Contraseña" ngModel>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg" [disabled]="loading">Ingresar <i *ngIf="loading"><img src="assets/loading.gif" style="width: 1.3rem;"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>