.navbar {
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
  box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.62);
}

/* FUNCIONES PARA ANIMAR EL BOTON DE LA BARRA */

.dot {
  height: 38px;
  width: 38px;
  box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.82);
  background-color: rgba(66, 135, 245, 0.52);
  background-image: url("https://image.flaticon.com/icons/png/128/64/64576.png");
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  display: inline-block;
  transition: 0.5s;
}

.dot-sidebar {
    height: 38px;
    width: 38px;
    box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.82);
    /* background-color: rgba(66, 135, 245, 0.52); */
    background-image: url("https://image.flaticon.com/icons/png/128/64/64576.png");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    display: inline-block;
    transform: rotateZ(90deg);
    transition: 0.5s;
  }

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) {
  .dot:hover {
    transform: scale(1.1);
    transform: rotateZ(30deg);
    transition: 0.5s;
  }

  .dot-sidebar:hover {
    transform: scale(1.1);
    transform: rotateZ(60deg);
    transition: 0.5s;
  }
}
