<div class="container-fluid mt-4 mb-4">
    <div class="card formularios">
        <div class="container-fluid mb-4">
            <h3 class="text-center font-weight-bold mt-4">Mi Perfil</h3>
            <div class="card-body card-datos">
                <h4 class="font-weight-bold">Datos Basicos</h4>
                <div class="row">
                    <div class="col-6">
                        <p><b>Nombre: </b>{{datosUsuario?.name}}</p>
                        <p><b>Rut:</b> {{datosUsuario?.rut}}</p>
                        <p><b>Correo: </b>{{datosUsuario?.email}}</p>
                    </div>
                    <div class="col-6">
                        <p><b>Direccion:</b> {{datosUsuario?.direccion}}</p>
                        <p><b>Numero:</b> {{datosUsuario?.numero}}</p>
                        <p><b>Fecha Ingreso: </b>{{datosUsuario?.created_at}}</p>
                    </div>
                </div>
            </div>
            <hr>
            <h3 class="text-center font-weight-bold mt-4">Acciones</h3>
            <div class="row mt-2">
                <div class="col-md-12">
                    <button type="button" class="btn btn-success btn-block" data-toggle="modal"
                        data-target=".modal-editar-datos-basicos-perfil-usuario">Editar Mis Datos</button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <button type="button" class="btn btn-danger btn-block" data-toggle="modal"
                        data-target=".modal-editar-contrasenia-usuario">Cambiar de Contraseña</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar Datos -->
<div class="modal fade modal-editar-datos-basicos-perfil-usuario" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title w-100 text-center font-weight-bold" id="staticBackdropLabel">Editar Datos
                    Mi Perfil
                </h3>
                <button id="closeButtonEditarMisDatos" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="mt-4">
                        <form #registroClienteForm="ngForm" (ngSubmit)="setClienteForm(registroClienteForm)">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputNombre">Nombre de Cliente *</label>
                                    <input type="text" class="form-control" id="inputNombre"
                                        placeholder="Nombre Completo" name="nombre" autocomplete="off"
                                        [(ngModel)]="datosUsuario.name" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputRut">Rut del Cliente *</label>
                                    <input type="text" class="form-control" id="inputRut" placeholder="Rut" name="rut"
                                        autocomplete="off" [(ngModel)]="datosUsuario.rut" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputCorreo">Correo</label>
                                <input type="email" class="form-control" id="inputCorreo"
                                    placeholder="Correo Electronico del cliente" name="correo" autocomplete="off"
                                    [(ngModel)]="datosUsuario.email">
                            </div>
                            <div class="form-group">
                                <label for="inputDireccion">Dirección *</label>
                                <input type="text" class="form-control" id="inputDireccion"
                                    placeholder="Residencia del Cliente" name="direccion" autocomplete="off"
                                    [(ngModel)]="datosUsuario.direccion" required>
                            </div>
                            <div class="form-group">
                                <label for="inputNumero">Numero de Telefono/Celular *</label>
                                <input type="text" class="form-control" id="inputNumero"
                                    placeholder="Puede ingresar uno o muchos celulares" name="numero" autocomplete="off"
                                    [(ngModel)]="datosUsuario.numero" required>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-secondary" (click)="updateDatosCliente()">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cambiar Contraseña -->
<div class="modal fade modal-editar-contrasenia-usuario" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title w-100 text-center font-weight-bold" id="staticBackdropLabel">Cambiar Contraseña
                </h3>
                <button id="closeButtonCambiarPass" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="mt-4">
                        <form #passwordClienteForm="ngForm" (ngSubmit)="changePasswordUser(passwordClienteForm.value)">
                            <div class="form-group col-12">
                                <label for="inputNombre">Contraseña Actual</label>
                                <input type="password" class="form-control" id="pass" name="passActual" autocomplete="off"
                                    ngModel required>
                            </div>
                            <div class="form-group col-12">
                                <label for="inputRut">Nueva Contraseña</label>
                                <input type="password" class="form-control" id="newpass" name="nuevaPass1" autocomplete="off"
                                    ngModel required>
                            </div>
                            <div class="form-group col-12">
                                <label for="inputCorreo">Repetir Nueva Contraseña</label>
                                <input type="password" class="form-control" id="newpasstwo" name="nuevaPass2"
                                    autocomplete="off" ngModel required>
                            </div>
                            <button type="submit" class="btn btn-secondary btn-block">Cambiar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>