<div class="card but-card text-center" style="cursor: pointer;" data-toggle="modal" data-target=".modal-nueva-vacuna">
    <div class="card-body">
        <img src="assets/dog.png" width="70" height="70" alt="">
        <h4 class="card-text font-weight-bold">Aplicar Vacuna/Antiparasitario</h4>
        <p class="font-weight-bold">Registrar una nueva vacuna o antiparasitario</p>
    </div>
</div>

<div class="modal fade modal-nueva-vacuna" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title w-100 text-center font-weight-bold" id="staticBackdropLabel">Registrar Vacuna o antiparasitario
                </h3>
                <button id="closeButton" type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="controlSteps(0)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <!-- PASO NUMERO 1 -->
                    <div *ngIf="step == 0">
                        <div class="mt-2">
                            <h4 class="text-center font-weight-bold">Ingrese el nombre de la mascota o el dueño de la mascota la cual se le
                                aplicará la vacuna o antiparasitario</h4>
                        </div>

                        <div class="mt-4">
                            <form #getMascotaPorNombreNuevaConsulta="ngForm"
                                (ngSubmit)="getMascotasPorNombre(getMascotaPorNombreNuevaConsulta)">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                            placeholder="Ingrese el nombre de la Mascota"
                                            aria-describedby="button-addon2" name="inputBusqueda"
                                            [(ngModel)]="inputBusqueda" autocomplete="off">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-dark" type="submit" [disabled]="loading">Buscar Mascota <i *ngIf="loading"><img src="assets/loading.gif" style="width: 1.3rem;"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="mt-4">
                            <div class="table-responsive">
                                <table class="table table-sm table-hover">
                                    <thead class="text-center">
                                        <tr>
                                            <th scope="col">Nombre Mascota</th>
                                            <th scope="col">Nombre Dueño</th>
                                            <th scope="col">Tipo Mascota</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody class="font-weight-bold text-center">
                                        <tr *ngFor="let itemResultados of resultadosBusqueda">
                                            <td style="background: rgba(66, 135, 245, 0.52);">{{itemResultados?.nombre}}</td>
                                            <td>{{itemResultados?.nombreDuenio}}</td>
                                            <td>{{itemResultados?.tipoMascota}}</td>
                                            <td><button class="btn btn-sm btn-secondary" data-dismiss="modal"
                                                    (click)="cargarMascotaSeleccionada(itemResultados); limpiarTablaVacunas(); getAntiparasitario(itemResultados?.id); getVacunas(itemResultados?.id); nombreTemporal = itemResultados?.nombre; controlSteps(1)">Seleccionar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- PASO NUMERO 2 -->
                    <div *ngIf="step == 1">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4 class="text-center font-weight-bold">Historial de Vacunas {{nombreTemporal}}</h4>
                                <div class="table-responsive">
                                    <table class="table table-sm table-hover">
                                        <thead class="text-center">
                                            <tr>
                                                <th scope="col">Vacuna</th>
                                                <th scope="col">Fecha de Aplicación</th>
                                            </tr>
                                        </thead>
                                        <tbody class="font-weight-bold text-center">
                                            <tr *ngFor="let itemVacunas of datosVacunas">
                                                <td>{{itemVacunas?.nombreVacuna}}</td>
                                                <td>{{itemVacunas?.created_at}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <span class="vl"></span>
                            <div class="col-lg-6">
                                <h4 class="text-center font-weight-bold">Aplicar Vacuna</h4>
                                <form #nuevaVacunaForm="ngForm" (ngSubmit)="setNuevaVacuna(nuevaVacunaForm)">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <label for="nombreMascota">Seleccione el Tipo de Vacuna</label>
                                        <!-- VACUNAS FELINAS -->
                                        <select *ngIf="datosMascota.id_tipo_mascota == 2" name="tipoVacuna" class="form-control" [(ngModel)]="formVacuna.tipoVacuna" required>
                                            <option value="">--Seleccione--</option>
                                            <option value="1">Trivalente Felina</option>
                                            <option value="2">Leucemia Felina</option>
                                            <option value="3">Antirrabica</option>
                                            <option value="4">Renovación Trivalente</option>
                                            <option value="5">Renovación Leucemia</option>
                                        </select>
                                        <!-- VACUNAS CANINAS -->
                                        <select *ngIf="datosMascota.id_tipo_mascota == 1" name="tipoVacuna" class="form-control" [(ngModel)]="formVacuna.tipoVacuna" required>
                                            <option value="">--Seleccione--</option>
                                            <option value="6">Especial Cachorro</option>
                                            <option value="7">Polivalente Canina</option>
                                            <option value="8">Traqueobronquitis</option>
                                            <option value="9">Antirrabica Canina</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-success mx-auto" [disabled]="nuevaVacunaForm.invalid">Registrar Nueva Vacuna</button>
                                </div>
                            </form>
                            </div>
                        </div>
                        <hr class="mt-4">
                        <div class="row mt-4">
                            <div class="col-lg-6">
                                <h4 class="text-center font-weight-bold">Historial de Antiparasitario {{nombreTemporal}}</h4>
                                <div class="table-responsive">
                                    <table class="table table-sm table-hover">
                                        <thead class="text-center">
                                            <tr>
                                                <th scope="col">Nombre Antiparasitario</th>
                                                <th scope="col">Fecha de Aplicación</th>
                                            </tr>
                                        </thead>
                                        <tbody class="font-weight-bold text-center">
                                            <tr *ngFor="let itemAnti of datosAntiparasitarios">
                                                <td>{{itemAnti?.nombre_antiparasitario}}</td>
                                                <td>{{itemAnti?.created_at}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <span class="vl"></span>
                            <div class="col-lg-6">
                                <h4 class="text-center font-weight-bold">Aplicar Antiparasitario</h4>
                                <form #nuevoAntiparasitarioForm="ngForm" (ngSubmit)="setAntiparasitario(nuevoAntiparasitarioForm)">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <label for="nombreAnti">Ingrese Nombre Antiparasitario</label>
                                        <input type="text" name="nombreAnti" class="form-control"  [(ngModel)]="nombreAntiparasitario" required>
                                    </div>
                                    <button type="submit" class="btn btn-success mx-auto" [disabled]="nuevoAntiparasitarioForm.invalid">Registrar Nueva Vacuna</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" *ngIf="step > 0">
                <button type="button" class="btn btn-secondary" (click)="controlSteps(2)"><i><img
                            src="assets/arrow-back.png" width="20" height="20" alt=""></i> Regresar</button>
                <button type="button" class="btn btn-primary" (click)="controlSteps(1)" *ngIf="step!=1"><span
                        *ngIf="step!=1">Continuar
                    </span><i><img *ngIf="step!=1" src="assets/arrow-next.png" width="20" height="20"
                            alt=""></i></button>
            </div>
        </div>
    </div>
</div>