<div class="container" style="margin-top: 1rem; margin-bottom: 1rem;">
    <full-calendar defaultView="dayGridMonth" 
    [locales]="locales" 
    [plugins]="calendarPlugins" 
    [header]="header"
    [events]="data" 
    [eventLimit]="3"
    (eventClick)="eventoClick($event)" 
    (dateClick)="diaClick($event)"
    (eventRender)="eventRender($event)">
    </full-calendar>
</div>

<button hidden id="open-modal-nueva-cita" data-toggle="modal" data-target=".modal-nueva-cita"></button>

<div class="modal fade modal-nueva-cita" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true" id="modal-nueva-cita">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center font-weight-bold" id="staticBackdropLabel">Programar Nueva Cita
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #formNuevoEvento="ngForm" (ngSubmit)="setNuevoEvento(formNuevoEvento)">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Titulo</label>
                                <input type="text" class="form-control" placeholder="Ingrese Titulo" name="titulo"
                                    [(ngModel)]="nuevoEventoForm.titulo">
                            </div>
                            <div class="form-group">
                                <label>Descripcion</label>
                                <textarea name="textAreaNuevaConsulta" cols="30" rows="10" class="form-control"
                                    name="descripcion" [(ngModel)]="nuevoEventoForm.descripcion"></textarea>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Hora Inicio</label>
                                <input type="datetime-local" class="form-control" name="horaInicio"
                                    [(ngModel)]="nuevoEventoForm.horaInicio">
                            </div>
                            <div class="form-group">
                                <label>Hora Termino</label>
                                <input type="datetime-local" class="form-control" name="horaTermino"
                                    [(ngModel)]="nuevoEventoForm.horaTermino">
                            </div>
                            <div class="form-group">
                                <label>Color Etiqueta</label>
                                <input type="color" class="form-control" name="colorFondo"
                                    [(ngModel)]="nuevoEventoForm.colorFondo">
                            </div>
                            <div class="form-group">
                                <label>Color Texto</label>
                                <input type="color" class="form-control" name="colorTexto"
                                    [(ngModel)]="nuevoEventoForm.colorTexto">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Ingresar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<button hidden id="open-modal-ver-cita" data-toggle="modal" data-target=".modal-ver-cita"></button>

<div class="modal fade modal-ver-cita" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true" id="modal-nueva-cita">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center font-weight-bold" id="staticBackdropLabel">{{nuevoEventoForm.titulo}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModalEventInfo" (click)="controlSteps(0)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="step == 0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h5 class="font-weight-bold">Descripcion</h5>
                            <p>{{nuevoEventoForm.descripcion}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h5 class="font-weight-bold">Hora Inicio</h5>
                            <p>{{labelHoraInicio}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h5 class="font-weight-bold">Hora Termino</h5>
                            <p>{{labelHoraTermino}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="step == 1">
                <form #formEditarEvento="ngForm" (ngSubmit)="updateEvento(formEditarEvento)">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Titulo</label>
                                <input type="text" class="form-control" placeholder="Ingrese Titulo" name="titulo"
                                    [(ngModel)]="nuevoEventoForm.titulo">
                            </div>
                            <div class="form-group">
                                <label>Descripcion</label>
                                <textarea name="textAreaNuevaConsulta" cols="30" rows="10" class="form-control"
                                    name="descripcion" [(ngModel)]="nuevoEventoForm.descripcion"></textarea>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Hora Inicio</label>
                                <input type="datetime-local" class="form-control" name="horaInicio"
                                    [(ngModel)]="nuevoEventoForm.horaInicio">
                            </div>
                            <div class="form-group">
                                <label>Hora Termino</label>
                                <input type="datetime-local" class="form-control" name="horaTermino"
                                    [(ngModel)]="nuevoEventoForm.horaTermino">
                            </div>
                            <div class="form-group">
                                <label>Color Etiqueta</label>
                                <input type="color" class="form-control" name="colorFondo"
                                    [(ngModel)]="nuevoEventoForm.colorFondo">
                            </div>
                            <div class="form-group">
                                <label>Color Texto</label>
                                <input type="color" class="form-control" name="colorTexto"
                                    [(ngModel)]="nuevoEventoForm.colorTexto">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Actualizar</button>
                </form>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="controlSteps(1)" *ngIf="step==0">Editar</button>
                <button type="button" class="btn btn-danger" *ngIf="step==0" data-toggle="modal" data-target=".modal-confirmacion-borrar-evento">Eliminar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="controlSteps(0)">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL CONFIRMAR -->
<div class="modal fade modal-confirmacion-borrar-evento" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center font-weight-bold" id="staticBackdropLabel">Confirmar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row my-4">
                    <div class="col-md-12 text-center">
                        <p class="h4">¿Esta Seguro?</p>
                        <p class="h5">Confirme solo si esta seguro</p>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-md-6 text-center">
                        <div class="btn btn-success btn-block btn-rounded" data-dismiss="modal"
                            (click)="deleteEvento()">
                            Sí, deseo borrar
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="btn btn-danger btn-block" data-dismiss="modal">
                            No, no borrar
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>