<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 class="display-6 py-2">Recuperación de Contraseña</h1>
                    <div class="px-2">
                        <form class="justify-content-center" #formResetPassword="ngForm" (ngSubmit)="sendEmailPassword(formResetPassword.value)">
                            <p>Ingrese su correo, se le enviará un mensaje para restablecer su contraseña</p>
                            <div class="form-group">
                                <label class="sr-only">Correo</label>
                                <input name="email" type="text" class="form-control" placeholder="Correo" ngModel>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg" [disabled]="loading">Ingresar <i *ngIf="loading"><img src="assets/loading.gif" style="width: 1.3rem;"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>