<div class="container-fluid">
    <div class="card formularios mt-4 mb-4">
        <div class="card-body">
            <div class="mt-4">
                <h3 class="text-center font-weight-bold">Buscar Mascota Por Nombre</h3>
            </div>

            <div class="mt-4">
                <form #getMascotasPorNombreForm="ngForm" (ngSubmit)="getMascotasPorNombre(getMascotasPorNombreForm)">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ingrese el nombre de la Mascota"
                            aria-describedby="button-addon2" name="buscador" [(ngModel)]="inputBusqueda" autocomplete="off">
                        <div class="input-group-append">
                            <button class="btn btn-outline-dark" type="submit" id="button-addon2">Buscar
                                Mascota</button>
                        </div>
                    </div>
                </div>
            </form>
            </div>

            <div class="mt-4">
                <div class="table-responsive">
                <table class="table table-sm table-hover">
                    <thead>
                      <tr class="text-center font-weight-bold">
                        <th scope="col">Nombre Mascota</th>
                        <th scope="col">Tipo Mascota</th>
                        <th scope="col">Nombre Dueño</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody class="text-center font-weight-bold">
                      <tr *ngFor="let itemResultados of resultadosBusqueda">
                        <td>{{itemResultados?.nombre}}</td>
                        <td>{{itemResultados?.tipoMascota}}</td>
                        <td>{{itemResultados?.nombreDuenio}}</td>
                        <td><button class="btn btn-sm btn-secondary" routerLink="../perfilMascota/{{itemResultados?.id}}">Ver Datos</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>