<div class="container-fluid">
    <div class="card formularios mt-4 mb-4">
        <div class="card-body">
            <div class="mt-4">
                <h3 class="text-center font-weight-bold">Buscar Cliente por Nombre</h3>
            </div>

            <div class="mt-4">
              <form #getClientesPorNombreForm="ngForm" (ngSubmit)="getClientesPorNombre(getClientesPorNombreForm)">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ingrese el nombre del cliente"
                            aria-describedby="button-addon2" name="nombreCliente" [(ngModel)]="inputBusqueda" autocomplete="off">
                        <div class="input-group-append">
                            <button class="btn btn-outline-dark" type="submit" id="button-addon2">Buscar
                                Cliente</button>
                        </div>
                    </div>
                </div>
              </form>
            </div>

            <div class="mt-4">
                <div class="table-responsive">
                <table class="table table-sm table-hover">
                    <thead>
                      <tr class="text-center font-weight-bold">
                        <th scope="col">Nombre</th>
                        <th scope="col">Rut</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Numero</th>
                        <th scope="col">Fecha Incorporación</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody class="text-center font-weight-bold">
                      <tr *ngFor="let itemBusqueda of resultadosBusqueda">
                        <td>{{itemBusqueda?.nombre}}</td>
                        <td>{{itemBusqueda?.rut}}</td>
                        <td>{{itemBusqueda?.direccion}}</td>
                        <td>{{itemBusqueda?.numero}}</td>
                        <td>{{itemBusqueda?.fecha_ingreso}}</td>
                        <td><button class="btn btn-sm btn-secondary" (click)="getMascotaPorClienteId(itemBusqueda?.id)" data-toggle="modal"
                          data-target=".modal-ver-mascotas-nombre-cliente">Ver Mascotas</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL PRINCIPAL -->
<div class="modal fade modal-ver-mascotas-nombre-cliente" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title w-100 text-center font-weight-bold" id="staticBackdropLabel">Mascotas de ¡Color Nombre Usuario!</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mt-4">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead>
                                <tr class="text-center font-weight-bold">
                                    <th scope="col">Nombre Mascota</th>
                                    <th scope="col">Tipo Mascota</th>
                                    <th scope="col">Dueño</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="text-center font-weight-bold">
                                <tr *ngFor="let itemMascotas of datosMascotas">
                                    <td>{{itemMascotas?.nombreMascota}}</td>
                                    <td>{{itemMascotas?.tipoMascota}}</td>
                                    <td>{{itemMascotas?.nombreDuenio}}</td>
                                    <td><button class="btn btn-sm btn-success"
                                            data-toggle="modal" data-target=".modal-datos-mascotas-busqueda-por-nombre-duenio" (click)="getMascotaPorId(itemMascotas?.mascotaId)">Ver Datos
                                            Mascota</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL DE DATOS MASCOTA -->
<div class="modal fade modal-datos-mascotas-busqueda-por-nombre-duenio" data-backdrop="static"
tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title w-100 text-center" id="staticBackdropLabel">
                Datos Mascota</h5>
            <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4 my-auto">
                    <img class="img-mascot"
                        src="https://i.pinimg.com/736x/d4/c5/f7/d4c5f7f131d36a447c8baec15b083a32.jpg"
                        alt="" height="200" width="200">
                </div>
                <div class="col-md-8">
                    <ul class="list-group">
                        <li class="list-group-item"><b>Nombre Mascota:</b>
                            {{mascotaSeleccionada?.nombre}}</li>
                        <li class="list-group-item"><b>Fecha Nacimiento:</b>
                            {{mascotaSeleccionada?.fecha_nacimiento}}</li>
                        <li class="list-group-item"><b>Tipo Mascota:</b> {{mascotaSeleccionada?.tipoMascota}}
                        </li>
                        <li class="list-group-item"><b>Sexo:</b> {{mascotaSeleccionada?.sexo}}</li>
                        <li class="list-group-item"><b>Raza:</b> {{mascotaSeleccionada?.raza}}</li>
                        <li class="list-group-item"><b>Color:</b> {{mascotaSeleccionada?.color}}</li>
                        <li class="list-group-item"><b>¿Esterilizado?:</b> {{mascotaSeleccionada?.estadoEsterilizacion}}
                        </li>
                        <li class="list-group-item"><b>¿Tiene Chip?:</b> {{mascotaSeleccionada?.estadoChip}}</li>
                    </ul>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6 mt-4 mx-auto">
                    <div class="card bg-success text-white text-center"
                        style="cursor: pointer;">
                        <div class="card-body">
                            <img src="assets/medical-history.png" width="70"
                                height="70" alt="">
                            <h4 class="card-text">Ver Ficha Clinica</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-4 mx-auto">
                    <div class="card bg-info text-white text-center"
                        style="cursor: pointer;">
                        <div class="card-body">
                            <img src="assets/vacuna.png" width="70" height="70"
                                alt="">
                            <h4 class="card-text">Ver Hoja de Vacunas</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-4 mx-auto">
                    <div class="card bg-secondary text-white text-center"
                        style="cursor: pointer;">
                        <div class="card-body">
                            <img src="assets/vacuna.png" width="70" height="70"
                                alt="">
                            <h4 class="card-text">Dar en Adopción</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-4 mx-auto">
                    <div class="card bg-danger text-white text-center"
                        style="cursor: pointer;">
                        <div class="card-body">
                            <img src="assets/vacuna.png" width="70" height="70"
                                alt="">
                            <h4 class="card-text">Editar Datos</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-block"
                data-dismiss="modal">Ok</button>
        </div>
    </div>
</div>
</div>