<div class="container-fluid">

    <div class="card formularios mt-4 mb-4">
        <div class="card-body">
            <div class="mt-4">
                <h3 class="text-center font-weight-bold">Buscar Mascota por Rut de Dueño</h3>
            </div>

            <div class="mt-4">
                <form #getMascotasPorRutForm="ngForm" (ngSubmit)="getMascotasPorRut(getMascotasPorRutForm)">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Ingrese el rut del cliente"
                                aria-describedby="button-addon2" name="rutCliente" [(ngModel)]="formRut"
                                autocomplete="off">
                            <div class="input-group-append">
                                <button class="btn btn-outline-dark" type="submit" id="button-addon2">Buscar
                                    Cliente</button>
                            </div>
                        </div>
                    </div>
                </form>

                <hr>

                <div class="mt-4">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead>
                                <tr class="text-center font-weight-bold">
                                    <th scope="col">Nombre Mascota</th>
                                    <th scope="col">Tipo Mascota</th>
                                    <th scope="col">Nombre Dueño</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="text-center font-weight-bold">
                                <tr *ngFor="let itemdatosBusqueda of datosBusqueda">
                                    <td>{{itemdatosBusqueda?.nombreMascota}}</td>
                                    <td>{{itemdatosBusqueda?.tipoMascota}}</td>
                                    <td>{{itemdatosBusqueda?.nombreDuenio}}</td>
                                    <td><button class="btn btn-sm btn-secondary" data-toggle="modal"
                                            data-target=".modal-buscar-datos-mascotas"
                                            (click)="fichaMascota.getMascotaPorId(itemdatosBusqueda?.mascotaId);">Ver Datos</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<app-ficha-mascota #fichaMascota></app-ficha-mascota>