<div class="card but-card text-center" style="cursor: pointer;" data-toggle="modal" data-target=".modal-buscador-mascotas-all">
    <div class="card-body">
        <img src="assets/perro.png"  width="70" height="70" alt="">
        <h4 class="card-text font-weight-bold">Buscador de Mascotas</h4>
        <p class="font-weight-bold">Ver Perfil de Mascotas Registradas</p>
    </div>
</div>

<div class="modal fade modal-buscador-mascotas-all" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title w-100 text-center font-weight-bold" id="staticBackdropLabel">Buscador de Mascotas
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                        <div class="mt-2">
                            <h4 class="text-center font-weight-bold">Puede buscar por el nombre de la mascota o el nombre del dueño</h4>
                        </div>

                        <div class="mt-4">
                            <form #getMascotaPorNombreNuevaConsulta="ngForm"
                                (ngSubmit)="getMascotasPorNombre(getMascotaPorNombreNuevaConsulta)">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                            placeholder="Ingrese los datos para buscar"
                                            aria-describedby="button-addon2" name="inputBusqueda"
                                            [(ngModel)]="inputBusqueda" autocomplete="off">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-dark" type="submit" [disabled]="loading">Buscar Mascota <i *ngIf="loading"><img src="assets/loading.gif" style="width: 1.3rem;"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="mt-4">
                            <div class="table-responsive">
                                <table class="table table-sm table-hover">
                                    <thead class="text-center">
                                        <tr>
                                            <th scope="col">Nombre Mascota</th>
                                            <th scope="col">Nombre Dueño</th>
                                            <th scope="col">Tipo Mascota</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody class="font-weight-bold text-center">
                                        <tr *ngFor="let itemResultados of resultadosBusqueda">
                                            <td style="background: rgba(66, 135, 245, 0.52);">{{itemResultados?.nombre}}</td>
                                            <td>{{itemResultados?.nombreDuenio}}</td>
                                            <td>{{itemResultados?.tipoMascota}}</td>
                                            <td><button class="btn btn-sm btn-success" data-dismiss="modal" routerLink="perfilMascota/{{itemResultados?.id}}">Ver Perfil</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>