<!-- BOTON INICIO MENU -->
<div class="card but-card text-center" style="cursor: pointer;" data-toggle="modal"
    data-target=".modal-consultas-activas" (click)="getConsultasActivas()">
    <div class="card-body">
        <img src="assets/estetoscopio.png" width="70" height="70" alt="">
        <h4 class="card-text font-weight-bold">Consultas Activas</h4>
        <p class="font-weight-bold">Atender a un paciente</p>
    </div>
</div>

<!-- MODAL PRINCIPAL -->
<div class="modal fade modal-consultas-activas" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title w-100 text-center font-weight-bold" id="staticBackdropLabel">Consultas Activas
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mt-4">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">Paciente</th>
                                    <th scope="col">Tipo Mascota</th>
                                    <th scope="col">Fecha Atención</th>
                                    <th scope="col">Dueño</th>
                                    <th scope="col" class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="text-center font-weight-bold">
                                <tr *ngFor="let itemConsultasActivas of consultasActivas">
                                    <td>{{itemConsultasActivas?.nombreMascota}}</td>
                                    <td>{{itemConsultasActivas?.tipoMascota}}</td>
                                    <td>{{itemConsultasActivas?.created_at}}</td>
                                    <td>{{itemConsultasActivas?.nombreDuenio}}</td>
                                    <td class="text-center"><button class="btn btn-sm btn-secondary m-1"
                                            data-dismiss="modal" aria-label="Close"
                                            routerLink="fichaConsulta/{{itemConsultasActivas?.id}}">Ver
                                            Consulta</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
