<!-- BOTON INICIO MENU -->
<div class="card but-card text-center" style="cursor: pointer;" data-toggle="modal"
    data-target=".modal-consultas-activas" (click)="getConsultasActivas()">
    <div class="card-body">
        <img src="assets/estetoscopio.png" width="70" height="70" alt="">
        <h4 class="card-text font-weight-bold">Consultas Activas</h4>
        <p class="font-weight-bold">Atender a un paciente</p>
    </div>
</div>

<!-- MODAL PRINCIPAL -->
<div class="modal fade modal-consultas-activas" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title w-100 text-center font-weight-bold" id="staticBackdropLabel">Consultas Activas
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mt-4">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">Paciente</th>
                                    <th scope="col">Tipo Mascota</th>
                                    <th scope="col">Fecha Atención</th>
                                    <th scope="col">Dueño</th>
                                    <th scope="col" class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="text-center font-weight-bold">
                                <tr *ngFor="let itemConsultasActivas of consultasActivas">
                                    <td>{{itemConsultasActivas?.nombreMascota}}</td>
                                    <td>{{itemConsultasActivas?.tipoMascota}}</td>
                                    <td>{{itemConsultasActivas?.created_at}}</td>
                                    <td>{{itemConsultasActivas?.nombreDuenio}}</td>
                                    <td class="text-center"><button class="btn btn-sm btn-success m-1"
                                            data-toggle="modal" data-target=".modal-datos-mascotas"
                                            (click)="getMascotaPorId(itemConsultasActivas?.idMascota)">Ver Datos
                                            Mascota</button> <button class="btn btn-sm btn-secondary m-1"
                                            data-toggle="modal" data-target=".modal-datos-consulta"
                                            (click)="getMotivoConsulta(itemConsultasActivas?.motivo)">Ver
                                            Consulta</button> <button class="btn btn-sm btn-warning m-1"
                                            data-toggle="modal" data-target=".modal-procedimiento-consulta"
                                            (click)="setIdConsultaProcedimiento(itemConsultasActivas?.id); getProcedimientoConsulta(itemConsultasActivas?.procedimiento, itemConsultasActivas?.peso, itemConsultasActivas?.idMascota); ">
                                            Procedimiento</button> <button class="btn btn-sm btn-danger m-1"
                                            data-toggle="modal" data-target=".modal-confirmacion-activa"
                                            (click)="setIdConsultaFinalizar(itemConsultasActivas?.id)">Dar Por
                                            Finalizada</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL DE DATOS MASCOTA -->
<div class="modal fade modal-datos-mascotas" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center font-weight-bold" id="staticBackdropLabel">Datos Mascota</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 my-auto">
                        <img class="img-mascot"
                            src="https://www.aspca.org/sites/default/files/cat-care_general-cat-care_body1-left.jpg"
                            alt="" height="200" width="200">
                    </div>
                    <div class="col-md-8">
                        <ul class="list-group">
                            <li class="list-group-item"><b>Nombre Mascota:</b> {{datosMascota?.nombre}}</li>
                            <li class="list-group-item"><b>Fecha Nacimiento:</b> {{datosMascota?.fecha_nacimiento}}</li>
                            <li class="list-group-item"><b>Tipo Mascota:</b> {{datosMascota?.tipoMascota}}</li>
                            <li class="list-group-item"><b>Sexo:</b> {{datosMascota?.sexo}}</li>
                            <li class="list-group-item"><b>Raza:</b> {{datosMascota?.raza}}</li>
                            <li class="list-group-item"><b>Color:</b> {{datosMascota?.color}}</li>
                            <li class="list-group-item"><b>¿Esterilizado?:</b> {{datosMascota?.estadoEsterilizacion}}
                            </li>
                            <li class="list-group-item"><b>¿Tiene Chip?:</b> {{datosMascota?.estadoChip}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL VER CONSULTA -->
<div class="modal fade modal-datos-consulta" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center font-weight-bold" id="staticBackdropLabel">Datos Consulta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="font-weight-bold">{{motivoConsulta}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL INGRESO DE PROCEDIMIENTO -->
<div class="modal fade modal-procedimiento-consulta" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center font-weight-bold" id="staticBackdropLabel">Procedimiento</h5>
                <button type="button" id="close-modal-procedimiento" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mt-4">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="peso">Ingrese peso de la mascota en Kg. al momento de realizar el
                                    procedimiento</label>
                                <input type="text" name="peso" class="form-control" placeholder="Por ejemplo: 6kg"
                                    [(ngModel)]="pesoMascota" autocomplete="off">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="text-area-proc">Indique los procedimientos realizados</label>
                                <textarea name="text-area-proc" class="form-control" cols="30" rows="10"
                                    [(ngModel)]="procedimientoConsulta"></textarea>
                            </div>
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customControlValidation1" name="checkBoxH" [(ngModel)]="hospitalizacionCheckBox"
                                    required>
                                <label class="custom-control-label" for="customControlValidation1">Marque la casilla si
                                    la mascota será hospitalizada (Se finalizara la consulta y será derivado a hospitalizaciones activas)</label>
                            </div>
                            <div class="form-group col-md-12" *ngIf="hospitalizacionCheckBox">
                                <label for="text-area-moti-hos">Motivo de hospitalización</label>
                                <textarea name="text-area-moti-hos" class="form-control" cols="30" rows="10" [(ngModel)]="motivoHospitalizacion"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-block"
                    (click)="setProcedimientoConsulta()">Ingresar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL CONFIRMAR -->
<div class="modal fade modal-confirmacion-activa" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center font-weight-bold" id="staticBackdropLabel">Confirmar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row my-4">
                    <div class="col-md-12 text-center">
                        <p class="h4">¿Esta Seguro?</p>
                        <p class="h5">Confirme solo si ya se termino de atender a la mascota</p>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-md-6 text-center">
                        <div class="btn btn-success btn-block btn-rounded" data-dismiss="modal"
                            (click)="setConsultaFinalizada()">
                            Sí, dar por finalizada
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="btn btn-danger btn-block" data-dismiss="modal">
                            No, no finalizar
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>