<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" class="{{variabletest}}">
        <div class="sidebar-header">
            <h3 class="text-center">NeoVet</h3>
        </div>

        <ul class="list-unstyled components">
            <!-- <p class="font-weight-bold">Panel Administrativo</p> -->
            <li>
                <a routerLink="/Inicio">Inicio</a>
            </li>
            <li>
                <a href="#mascotaSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Mascotas</a>
                <ul class="collapse list-unstyled" id="mascotaSubmenu">
                    <li>
                        <a routerLink="registroMascota">Registrar Mascota</a>
                    </li>
                    <!-- <li>
                        <a routerLink="buscarMascota">Buscar Mascota por Rut Dueño</a>
                    </li> -->
                    <li>
                        <a routerLink="mostrarMascotas">Buscar Mascota por Nombre</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Clientes</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a routerLink="registroCliente">Registrar Cliente</a>
                    </li>
                    <!-- <li>
                        <a routerLink="buscarCliente">Buscar Cliente por Rut</a>
                    </li> -->
                    <li>
                        <a routerLink="mostrarClientes">Buscar Cliente por Nombre</a>
                    </li>
                </ul>
            </li>
            <li>
                <a routerLink="verCalendario" class="font-weight-light">Agenda</a>
            </li>
            <li>
                <a href="#productosSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Proovedores</a>
                <ul class="collapse list-unstyled" id="productosSubMenu">
                    <li>
                        <a routerLink="registroMascota">Registrar Proovedor</a>
                    </li>
                    <li>
                        <a routerLink="buscarMascota">Listar Proveedores</a>
                    </li>
                    <li>
                        <a routerLink="mostrarMascotas">Realizar Nuevo Pedido</a>
                    </li>
                </ul>
            </li>
            <li>
                <a routerLink="estadisticas" class="font-weight-light">Estadisticas</a>
            </li>
        </ul>

        <!-- <ul class="list-unstyled CTAs">
            <li>
                <a href="#" class="download">Contacto NeoFox</a>
            </li>
            <li>
                <a href="#" class="article">Sección Clientes</a>
            </li>
        </ul> -->
    </nav>
    <div id="content">

        <app-navbar (abrirSidebarParent)="abrirSidebar()"></app-navbar>
        <!-- <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="test()">
            <span>Toggle Sidebar</span>
        </button> -->
        <router-outlet></router-outlet>

    </div>

</div>